<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot ="start">
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <form (ngSubmit)="login(fLogin)" #fLogin ="ngForm" >
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="email" 
                      placeholder="ingrese email" 
                      name="email" 
                      [(ngModel)]="usuario.email"
                      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
                      required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password:</ion-label>
            <ion-input type="password"
                        name="password"
                        [(ngModel)]="usuario.password"
                        required
                        placeholder="Contraseña">
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="fLogin.invalid" color="tertiary" shape="round" fill="outline">
          Login
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="botonregistrar"  color="tertiary" shape="round" fill="outline" (click)= "registrar()" >
          Registrar
        </ion-button>
      </ion-col>
    </ion-row>
    
  </form>
</ion-content>
